.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #333;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
}

.navbar-links a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}